<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }

        #btns {
            margin-top: 20px;
        }

        .d-none {
            display: none;
        }
    </style>
    <script>
        function login() {
            let form = document.getElementById
                ("register-form");
            if (!form.checkValidity()) {
                form.reportValidity();
                console.log("reportValidity");

                return false;
            };
            let user = {
                id: form.id.value,
                pw: form.pw.value
            };

            axios({
                method: 'POST',
                url: '/user/login',
                data: user
            }).then((res) => {
                if (res.data == true) {
                    alert("Login Success!");
                    // var formInfo = document.getElementById("form-info");
                    // formInfo.id.value = form.value;
                    // formInfo.submit();
                } else {
                    alert("Login Fail");
                    form.reset();
                }
            });
        }
    </script>
</head>

<body>
    <form id="register-form">
        <fieldset>
            <h3>Welcome Back!</h3>
            <legend>Login</legend>
            ID : <input type="text" name="id" placeholder="ID" required /><br />
            Password:
            <input type="password" name="pw" placeholder="password" required />

            <div id="btns">
                <button class="login-btn" type="button" onclick="login()">
                    Login
                </button>
            </div>
            <form id="form-info" action="/user/profile" method="POST">
                <input type="hidden" name="id">
                <button type="button" class="profile-btn d-none">Profile</button>
            </form>
            <p>Don't have an account? <a class="login-btn" type="button" href='/user'>Register</a></p>
        </fieldset>
    </form>

</body>

</html>