<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <script>
        function login() {
            let form = document.getElementById
                ("register-form");
            if (!form.checkValidity()) {
                form.reportValidity();
                console.log("reportValidity");

                return false;
            };
            let data = {
                id: form.id.value,
                pw: form.pw.value
            };

            axios({
                method: 'POST',
                url: '/user/login',
                data: data
            }).then((res) => {
                if (res.data == true) {
                    alert("Login Success!");
                    var formInfo = document.getElementById("form-info");
                    formInfo.id.value = form.id.value;
                    formInfo.submit();
                } else {
                    alert("Please check your ID and password and try again.");
                    form.reset();
                }
            });
        }
    </script>
</head>

<body>
    <form id="register-form">
        <fieldset>
            <h3>Welcome Back!</h3>
            <legend>Login</legend>
            ID : <input type="text" name="id" placeholder="ID" required /><br />
            Password:
            <input type="password" name="pw" placeholder="password" required />

            <div>
                <button class="login-btn btns" type="button" onclick="login()">
                    Login
                </button>
            </div>
            
            <p>Don't have an account? <a class="login-btn" type="button" href='/user'>Register</a></p>
            <p>Wanna write a message?  <a class="guestbook-btn" type="button" href='/visitor'>Guestbook</a></p>
        </fieldset>
    </form>

    <form id="form-info" action="/user/profile" method="POST">
        <input type="hidden" name="id">
    </form>
</body>

</html>