<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <script>
        function register() {
            let form = document.getElementById
                ("register-form");
            if (!form.checkValidity()) {
                form.reportValidity();
                console.log("reportValidity");

                return false;
            };

            let data = {
                id: form.id.value,
                pw: form.pw.value,
                name: form.name.value,
            };

            axios({
                method: 'POST',
                url: "/user",
                data: data
            }).then((response) => {
                alert("Hello, " + `${data.name}` + "! Thank you for signing up!");
                document.location.href = "/user/login";
            })
        }
    </script>
</head>

<body>
    <form id="register-form">
        <fieldset>
            <h3>Welcome!</h3>
            <legend>Sign Up</legend>
            ID : <input type="text" name="id" placeholder="ID" required /><br />
            Password:
            <input type="password" name="pw" placeholder="password" required />
            <br />
            Name: <input type="text" name="name" placeholder="Your name" required />
            <div>
                <button class="register-btn btns" type="button" onclick="register()">
                    Register
                </button>
            </div>
            <div>
                <p>Have an account already?  <a class="login-btn" type="button" href='/user/login'>Login</a></p>
            </div>
            <div>
                <p>Wanna write a message?  <a class="guestbook-btn" type="button" href='/visitor'>Guestbook</a></p>
            </div>

        </fieldset>
    </form>

</body>

</html>