<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Home</title>
  </head>
  <style>
    .d-none {
      display: none;
    }
  </style>

  <body>
    <form action="">
      <label for="id">ID:</label>
      <input type="text" id="id" name="id" placeholder="ID" required /> <br />
      <label for="pw">Password:</label>
      <input
        type="password"
        id="pw"
        name="pw"
        placeholder="password"
        required
      />
      <br />
      <button onclick="logOut()" class="logout-btn d-none">로그아웃</button>
    </form>

    <script>
      function logOut() {
        axios({
          method: "DELETE",
          url: "logout",
        }).then((res) => {
          if (res) {
            document.querySelector(".logout-btn").classList.remove("d-none");
            document.querySelector(".register-btn").classList.add("d-none");
            document.querySelector(".login-btn").classList.add("d-none");
          }
        });
      }
    </script>
  </body>
</html>
