<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }

        #btns {
            margin-top: 20px;
        }
    </style>
    <script>
        function editProfile() {
            var form = document.getElementById("profile-form");

            if (!form.checkValidity()) {
                form.reportValidity();

                return false;
            }
            let user = {
                id: form.id.value,
                pw: form.pw.value,
                name: form.name.value
            };

            axios({
                method: 'PATCH',
                url: '/user/profile',
                data: user
            })
                .then((res) => {
                    if (res.data) {
                        alert("We updated your profile!");
                    } else {
                        alert("Sorry, we couldn't update your profile.")
                    }
                });
        }

        function deleteProfile() {
            var form = document.getElementById("profile-form");

            if (!form.checkValidity()) {
                form.reportValidity();

                return false;
            }
            let user = {
                id: form.id.value,
            };

            axios({
                method: 'DELETE',
                url: '/user/profile',
                data: user
            }).then((response) => {
                if (response.data) {
                    alert("We deleted your account as requested.");
                    document.location.href = "/user";
                } else {
                    alert("Sorry, we couldn't delete your account. Please try again later.");
                }
            })
        }
    </script>
</head>

<body>
    <form id="profile-form">
        <fieldset>
            <legend>My Profile</legend>
            ID : <input type="text" name="id" required value="<%= data.id %>" readonly /><br />
            Password:
            <input type="text" name="pw" required value="<%= data.pw %>" /> <br>
            Name:
            <input type="text" name="name" value="<%= data.name %>" required />
            <div id="btns">
                <button class="login-btn" type="button" onclick="editProfile()">
                    Update
                </button>
                <button class="register-btn" type="button" onclick="deleteProfile()">
                    Delete
                </button>
            </div>

        </fieldset>
    </form>

</body>

</html>