@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#register-form {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


input {
    margin-top: 15px;
    height: 20px;
}

.btns {
    margin: 20px;
    padding: 3px 8px 3px 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btns:hover {
    background-color: rgb(243, 240, 195);
    margin: 20px;
    padding: 3px 8px 3px 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.d-none {
    display: none;
}

#form_register {
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
}

table {
    border: 1px solid black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

